<div class="interface-block">
  <h1>Avanzamenti tecnologici</h1>
  <ul>
    <app-enhancement-button
        *ngFor="let action of listOfEnhancements"
        [action]="action">
    </app-enhancement-button>
  </ul>
</div>