<div class="interface-block">
  <h1>Cheats</h1>
  <div>
    <p>{{ coefficients.get(Coefficients.TIME_TO_0_LEMONS) }} Tempo di azzeramento limoni</p>
    <p>{{ coefficients.get(Coefficients.TIME_TO_1000_REPUTATION) }} = 'Tempo di arrivo a reputazione 1.000',</p>
    <p>{{ coefficients.get(Coefficients.TIME_TO_EVENT_MANAGEMENT) }} = 'Tempo di arrivo alla gestione eventi',</p>
    <p>{{ coefficients.get(Coefficients.TIME_TO_CONVERTERS) }} = 'Tempo di arrivo ai convertitori',</p>
    <p>{{ coefficients.get(Coefficients.MAX_PUBLIC) }} = 'Pubblico massimo',</p>
    <p>{{ coefficients.get(Coefficients.MAX_LEMONS_PER_SEC) }} = 'Max limoni spremuti al secondo'</p>
    <p>{{ coefficients.get(Coefficients.FESTIVAL_NAME) }}</p>
  </div>

  <button (click)="saveState()">Salva!</button>
  <ul>
    <li *ngFor="let s of saves; let i = index">
      {{ s.name }}
      <button (click)="loadState(i)">Carica</button>
      <button (click)="deleteSave(i)">X</button>
    </li>
  </ul>
  <button (click)="resources.increase(Resources.CASH, 1000000)">+1.000.000 &euro;</button>
  <button (click)="resources.increase(Resources.STORAGE_LITERS, 1000000)">+1.000.000 L</button>
  <button (click)="coefficients.increase(Coefficients.DAILY_MILFs, 1000000)">+1.000.000 MILFs</button>
  {{ coefficients.get(Coefficients.FESTIVAL_ATTRACTIVENESS) | number:'1.2-2' }}
  <button (click)="resetGame()">Resetta il gioco</button>
  <button (click)="activator.unlock(Activables.MULTIPLE_STAGES)">Palchi multipli</button>
  <button (click)="activator.unlock(Activables.HYPERSONIC_SQUEEZER)">Spremiagrumi ipersonico</button>
  <button (click)="coefficients.multiply(Coefficients.SQUEEZER_QUICKNESS, 10)">Velocità spremitori * 10</button>
  <button (click)="activator.unlock(Activables.CONVERTER_TECHNOLOGY)">Converter</button>
  <button (click)="activator.unlock(Activables.ARTISTIC_DIRECTOR)">Direttore artistico</button>
  <button (click)="coefficients.increase(Coefficients.ESCAPE_RATE, -0.02)">Riduci escape rate</button>
  <button (click)="resources.increase(Resources.LEMONS, 1000000)">+1.000.000 Limoni</button>
  <button (click)="resources.increase(Resources.REPUTATION, 100)">+100 Reputazione</button>
  <button (click)="coefficients.set(Coefficients.TIME_TO_0_LEMONS, 0)">Resetta time to zero lemons</button>
  <button (click)="fatherTime.stop()">Stop!</button>
  <button (click)="fatherTime.start()">Restart!</button>
  <button (click)="activator.disable(Activables.AUTOMATIC_CONCERTS)">Spremiagrumi ipersonico</button>
  <p>Automatici quickness {{ coefficients.get(Coefficients.SQUEEZER_QUICKNESS) | shortNumber }}</p>
</div>
