<div class="interface-block">
    <h1>Pubblicit&agrave;</h1>
    <p>👫 Clienti giornalieri: {{ coefficientsManager.get(Coefficients.DAILY_TOTAL_CUSTOMERS) | shortNumber:'1.0-0' }}</p>
    
    <ng-container *ngIf="activator.check(Activables.STAGES)">
      <h2>Composizione del pubblico</h2>
      <ul>
        <li>Appassionati di limonata: {{ coefficientsManager.get(Coefficients.DAILY_CUSTOMERS) | shortNumber:'1.0-0' }}</li>
        <li>Hipster: {{ coefficientsManager.get(Coefficients.DAILY_HIPSTERS) | shortNumber:'1.0-0' }}
          <br/><small>Bevono solo limonata raffinata</small>
        </li>
        <li>Aspiranti Groupies: {{ coefficientsManager.get(Coefficients.DAILY_GROUPIES) | shortNumber:'1.0-0' }}
          <br/><small>Riducono il costo degli artisti</small>
        </li>
        <li>Rockers di una volta: {{ coefficientsManager.get(Coefficients.DAILY_ROCKERS) | shortNumber:'1.0-0' }}
          <br/><small>Non fanno nulla, ma si lamentano un sacco</small>
        </li>
        <li>Metallari: {{ coefficientsManager.get(Coefficients.DAILY_METALHEADS) | shortNumber:'1.0-0' }}
          <br/><small>Bevono il triplo di una persona normale</small>
        </li>
        <li>Sfattoni: {{ coefficientsManager.get(Coefficients.DAILY_RASTAMEN) | shortNumber:'1.0-0' }}
          <br/><small>Riducono la quantita' di CO2 emessa</small>
        </li>
        <li>MILF: {{ coefficientsManager.get(Coefficients.DAILY_MILFs) | shortNumber:'1.0-0' }}
          <br/><small>Aumentano il pubblico</small>
        </li>
        <li>Musicisti: {{ coefficientsManager.get(Coefficients.DAILY_MUSICIANS) | shortNumber:'1.0-0' }}
          <br/><small>Aumentano la reputazione del festival</small>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="!activator.check(Activables.STAGES)">
      
      <app-action-button [action]="leafletingAction" class="filler"></app-action-button>
      <div class="progress-bar">
        <div [ngStyle]="{'width.%': (LEAFLETING_DURATION - stats.get(Statistics.LEAFLETING_ELAPSED_TIME)) / LEAFLETING_DURATION * 100 }"></div>
        <small *ngIf="stats.get(Statistics.LEAFLETING_ELAPSED_TIME) != LEAFLETING_DURATION">Spremi pi&ugrave; che puoi mentre arriva gente!</small>
      </div>

      <app-action-button [action]="postersAction"></app-action-button>
      <p *ngIf="activator.check(Activables.POSTERS)">
        <span *ngIf="resourcesManager.theresEnough(Resources.POSTERS, 1)">
          Livello di attacchinaggio:
          <ng-container [ngSwitch]="resourcesManager.get(Resources.POSTERS)">
            <span *ngSwitchCase="1">impercettibile</span>
            <span *ngSwitchCase="2">sparuto</span>
            <span *ngSwitchCase="3">visibile</span>
            <span *ngSwitchCase="4">tollerabile</span>
            <span *ngSwitchCase="5">evidente</span>
            <span *ngSwitchCase="6">preponderante</span>
            <span *ngSwitchCase="7">smisurato</span>
            <span *ngSwitchCase="8">selvaggio</span>
            <span *ngSwitchCase="9">multe assicurate</span>
          </ng-container>
        </span>
      </p>

    </ng-container>
</div>
  