ngx\-headroom {
    display: none;
}

#tabs-menu {
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
    opacity: 0.5;
    color: #1d3935;
}

@media screen and (max-width: 768px) {
    h1 {
        margin-top: 1em;
    }
    ngx\-headroom {
        display: block;
    }
}

h1 {
    margin-bottom: 0;
    margin-left: 1.5rem;
}

h3 {
    margin: 0 1.5rem;
}

.column {
    float: left;
    max-width: 410px;
}

#lemon {
    position: fixed;
    right: -130px;
    top: -100px;
    z-index: 5;
    max-width: 63%;
}

#lemon-slice {
    position: fixed;
    left: -130px;
    bottom: -200px;
    max-width: 85%;
}

#logo {
    position: fixed;
    bottom: 0.8rem;
    right: 1rem;
    max-width: calc(100% - 200px);
}

#bottomer {
    clear: both;
}

.festivalName {
    color: #72541A;
}

.clickable {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #1d3935;
}

a:hover, .clickable:hover {
    color: white;
}