<ngx-headroom duration="300" easing="ease-in">
    <app-tabs-menu id="tabs-menu"></app-tabs-menu>
    <img id="lemon" src="assets/img/rss18-limone.png" alt="Un limone" />
</ngx-headroom>

<a name="top"></a>
<h1>Limoni: <br *ngIf="isMobile()"/>-1</h1>
<h3>Abbiamo troppi limoni! Aiutaci a finirli - 
    <small class="festivalName">{{ festivalName }}</small>
    - <small><a href="/ulstats/" target="_blank">📊 Classifiche!</a></small>
    - <small class="clickable" (click)="restartAfterConfirmation()">🔙 Riparti da capo</small>
</h3>

<div class="column">
    <app-lemonade-stand></app-lemonade-stand>
    <a name="marketing"></a>
    <app-marketing></app-marketing>
</div>
<div class="column">
    <a name="enhancements"></a>
    <app-enhancements-panel></app-enhancements-panel>
    <a name="laboratory"></a>
    <app-laboratory *ngIf="activator.check(Activables.LAB_BLOCK)"></app-laboratory>
    <app-cheat-box *ngIf="isDevMode()"></app-cheat-box>
</div>
<div class="column">
    <a name="music"></a>
    <app-music *ngIf="activator.check(Activables.MUSIC_BLOCK)"></app-music>    
</div>

<img *ngIf="!isMobile()" id="lemon" src="assets/img/rss18-limone.png" alt="Un limone" />
<img id="lemon-slice" src="assets/img/rss18-limone-fetta.png" alt="Una fetta di limone" />
<a href="https://rocksulserio.it" target="_blank">
    <img id="logo" src="assets/img/rock-sul-serio.svg" alt="Rock Sul Serio logo" />
</a>

<div id="bottomer"></div>
