<div class="interface-block">
  <h1>Musica</h1>
  
  <p *ngIf="activator.check(Activables.VOLUME_UP)">
    <span *ngIf="coefficients.get(Coefficients.MUSIC_VOLUME) &lt; 7">🔈</span>
    <span *ngIf="coefficients.get(Coefficients.MUSIC_VOLUME) &lt;= 13 &amp;&amp; coefficients.get(Coefficients.MUSIC_VOLUME) &gt;= 7">🔉</span>
    <span *ngIf="coefficients.get(Coefficients.MUSIC_VOLUME) &gt; 13">🔊</span>
    <span>Volume: </span>
    <app-action-button [action]="volumeDownAction"></app-action-button>
    <span class="value">{{ coefficients.get(Coefficients.MUSIC_VOLUME) }}</span>
    <app-action-button [action]="volumeUpAction"></app-action-button>
  </p>

  <ng-container *ngIf="!activator.check(Activables.STAGES)">
    <h2>🎶 Radio</h2>
    <!--
      <iframe src="https://embed.spotify.com/?uri=spotify:user:u69ewpoy0xqjgdd1baq2opv9m:playlist:23QWZeKdnLPVgXNIRuNzlq" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    -->
  </ng-container>

  <ng-container *ngIf="activator.check(Activables.STAGES)" class="stages">
   
    <div class="stage-row">
      <app-stage [stage]="firstStage" [stageNumber]="1" [chosenGenre]="chosenGenre"></app-stage>
      <app-stage [stage]="secondStage" [stageNumber]="2" *ngIf="activator.check(Activables.MULTIPLE_STAGES)" [chosenGenre]="chosenGenre"></app-stage>
    </div>

    <div class="stage-row">
      <app-stage [stage]="thirdStage" [stageNumber]="3" *ngIf="activator.check(Activables.MULTIPLE_STAGES)" [chosenGenre]="chosenGenre"></app-stage>
      <app-stage [stage]="fourthStage" [stageNumber]="4" *ngIf="activator.check(Activables.MULTIPLE_STAGES)" [chosenGenre]="chosenGenre"></app-stage>
    </div>

    <h2>Generi disponibili</h2>
    <ul class="playlist-chooser" *ngIf="!activator.check(Activables.AUTOMATIC_CONCERTS)">
      <li *ngFor="let genre of listOfGenres"
          (click)="chosenGenre = genre; playIfMobile(genre)"
          [ngClass]="{'selected': chosenGenre == genre}"
      > 
        {{ genre.getGenreName() }} <span class="playButton" *ngIf="!isMobile()" (click)="nowPlaying = getPlaylist(genre)">🔊</span>
      </li>
    </ul>

    <ul *ngIf="activator.check(Activables.AUTOMATIC_CONCERTS)">
      <li *ngFor="let genre of listOfGenres">
        <button (click)="genre.downAction()">➖</button>
        <span class="value">{{ coefficients.get(genre.getCoefficient()) | shortNumber:'1.2-2' }}</span>
        <button (click)="genre.upAction()">➕</button>
        <span>{{ genre.getGenreName() }}</span>
        <span class="playlist-link" (click)="nowPlaying = getPlaylist(genre)">🔊</span>
      </li>
    </ul>
  </ng-container>

  <iframe [src]="nowPlaying"
    width="90%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media">
  </iframe>
</div>