ul {
    list-style: none;
    padding-left: 0;
    vertical-align: top;
    display: inline-block;
}

.playlist-chooser li {
    float: left;
    width: 40%;
    height: 20px;
    padding: 0.3em;
    margin: 0.3em;
    background-color: #faeaa0;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
}

.playlist-chooser li.selected {
    background-color: #1d3935;
    color: white;
}

.playlist-link {
    cursor: pointer;
    margin: 0;
}

.stage-row {
    text-align: center;
    display: table;
    border-collapse:separate;
    border-spacing: 1em;
    width: 100%;
}

app\-stage {
    display: table-cell;
}

.selectable {
    cursor: pointer;
}

.stages {
    text-align: center;
}

.stages iframe {
    display: inline-block;
}

.value {
    width: 2em;
    display: inline-block;
    text-align: center; 
}

.playButton {
    float: right;
    background-color: white;
    display: inline-block;
    padding: 0.2em;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.playlist-chooser li.selected .playButton {
    background-color: #305f58;
}
